################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OrderApi/FileContentIndex/12be63ed-bfad-40b9-86dd-75f38ae583eb.vsidx
/.vs/OrderApi/FileContentIndex/1fca3156-e6f3-4a31-9a9d-2cb2322d7b65.vsidx
/.vs/OrderApi/FileContentIndex/5b072e48-f696-44d7-85e8-c3fd94d509f5.vsidx
/.vs/OrderApi/FileContentIndex/79c288dc-e71d-4e81-a109-5d55fc82a8b9.vsidx
/.vs/OrderApi/FileContentIndex/9a6672b9-c260-4cf7-a2ee-cbe9ab94414e.vsidx
/.vs/OrderApi/FileContentIndex/d14cf515-5f0d-4406-9a3b-8811a6338515.vsidx
/.vs/OrderApi/FileContentIndex
