################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OrderApi/FileContentIndex/12be63ed-bfad-40b9-86dd-75f38ae583eb.vsidx
